//fonts
$font-main: 'Lufga', sans-serif;
$font-accent: 'Inter', sans-serif;
$font-second: 'Urbanist', sans-serif;

//colors
// $orange-easy: #fec9b0;
// $blue: #1c3b5e;
$white: #fff;
$gray: #171717;
$accent: #fd853a;
